.ctsTrayContainer .theminator{
    width:300px;
    /*height:700px;*/
    border-left:none;
    height: 100%;
    display: table;
}

.ctsTrayContainer .tag-details-list li {
    float:left;
}

.ctsTrayContainer .effeckt-caption {
  position: relative;
  float: left;
  overflow: hidden;
}


.ctsTrayContainer .effeckt-caption img {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.ctsTrayContainer .effeckt-caption figcaption {
  position: absolute;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    padding: 1rem 0 1rem 0;
}

.ctsTrayContainer .effeckt-caption-2 figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.ctsTrayContainer (.effeckt-caption-2:hover figcaption,
.effeckt-caption-2:active figcaption) {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}



.ctsTrayContainer .header {
  background-image: url('img/cts-header-theminator.png');
  height: 66px;
  display: table-row;
}

.ctsTrayContainer .header-content {
  background-image: url('img/cts-header-theminator.png');
  height: 66px;
  display: table-cell;
}

.ctsTrayContainer .search-container {
    padding: 10px;
}

.ctsTrayContainer .favorites-icon-container {
    padding: 10px;
    padding-top:12px;
}

.ctsTrayContainer .search-query {
    width:75%;
}

.ctsTrayContainer .form-search {
    padding-bottom: 0px;
}

.ctsTrayContainer .favorites-icon {
    width:auto;
    height:25px;
}

.ctsTrayContainer .favorites-icon:hover {
    cursor:hand;
    cursor:pointer;
}

.ctsTrayContainer .filter-tray {
    display: table-row;
}

.ctsTrayContainer .filter-expand-container {
    border-bottom: solid black 1px;
    padding:0px 10px 5px 10px;
}

.ctsTrayContainer .filter-container {
    height:0px;
    padding:0px 10px 0px 10px;
}

.ctsTrayContainer .filter-options {
    padding-left:7%;
}

.ctsTrayContainer .subheader {
  display: table-row;
}

.ctsTrayContainer .top-container {
    display:table-cell;
    text-align: top;
}

.ctsTrayContainer .form-search {
    margin-bottom: 0px;
}

.ctsTrayContainer .templates-tray {
    text-align:center;
    padding-top:10px;
    /*overflow: auto;*/
    height: 100%;
    display: table-row;
}

.ctsTrayContainer .pager-custom {
    display:inline-block;
    font-weight:bold;
    margin: 0px;
    padding: 0px;
    margin-top:7px;
    margin-bottom:3px;
}

.ctsTrayContainer .pager-custom > li {
    display:inline;
}

.ctsTrayContainer .pager-custom > li.disabled > a {
    color: #999999;
    cursor: default;
}

.ctsTrayContainer .pager-custom > li.disabled > a:hover {
    background-color: transparent;
}

.ctsTrayContainer .pager-custom > li.active > a {
    background-color: #657208;
    color: #FFFFFF;
    cursor: default;
}

.ctsTrayContainer .pager-custom > li.active > a:hover {
    background-color: #657208;
}

.ctsTrayContainer .pager-custom > li > a:hover {
    background-color: #B9D310;
}
.ctsTrayContainer .pager-custom > li > a {
    color:#000000;
    padding:3px 5px;
    cursor:pointer;
    cursor:hand;
}

.ctsTrayContainer .templates-container {
    padding-top:10px;
    overflow-y:auto;
    height: calc(100% - 30px);
    /*height:518px;*/
    display:block;
}


.ctsTrayContainer .screenshot-thumbnail {
    position:relative;
    display:table;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
}

.ctsTrayContainer .screenshot-options {
    position:absolute;
    left:0;
    top:0;
    text-align:left;
}

.ctsTrayContainer .add-to-favorites {
    position:absolute;
    left:89%;
    top:0;
    cursor: hand;
    cursor: pointer;
}

.ctsTrayContainer .add-to-favorites > img {
    width:27px;
    height:25px;
}
    

.ctsTrayContainer .screenshot {
    width: 100%;
    height:auto;
}


.ctsTrayContainer .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.ctsTrayContainer .screenshot-thumbnail:hover .tint:before {
    background: rgba(185, 211, 16, .5)
}

.ctsTrayContainer .screenshot-thumbnail:hover .tint.active:before, .tint.active:before {
    background: rgba(101, 114, 8, .5)
}

.ctsTrayContainer a.filter-expand {
    color:#000000;
    cursor:pointer;
    cursor:hand;
}

.ctsTrayContainer .tag-types-list {
    list-style-type: none;
    margin:0px;
}

.ctsTrayContainer .tag-types-list > li.active > a {
    background-color: #657208;
    color: #FFFFFF;
    cursor: hand;
    cursor: pointer;
}

.ctsTrayContainer .tag-types-list > li.active > a:hover {
    background-color: #657208;
}

.ctsTrayContainer .tag-types-list > li > a:hover {
    background-color: #B9D310;
}
.ctsTrayContainer .tag-types-list > li > a {
    color:#000000;
    cursor:pointer;
    cursor:hand;
    padding: 2px 3px;
}

.ctsTrayContainer .tag-details {
    width:194px;
}

.ctsTrayContainer .tag-details-list {
    list-style-type: none;
    display:inline-block;
    margin: 0px;
}

.ctsTrayContainer .tag-details-list > li {
    display:inline;
}

.ctsTrayContainer .tag-details-list > li label.checkbox {
    padding-left: 0px;
    padding-right:5px;
    display:inline
}

.ctsTrayContainer .tag-details-list > li label.checkbox > input[type=checkbox] {
    float:none;
    margin-top: -2px;
    margin-left: 0px;
    margin-right:5px;
}

.ctsTrayContainer span.theme-title {
    cursor:default;
    font-size:20px;
    padding-left:5px;
    line-height:25px;
}

.ctsTrayContainer a:hover {
    color:#657208;
    text-decoration:none;
}
.ctsTrayContainer a {
    color:#B9D310;
}

.ctsTrayContainer input[type=text]:focus {
      border-color:#B9D310;
      -moz-box-shadow: 0px 0px 6px #B9D310;
      -webkit-box-shadow: 0px 0px 6px #B9D310;
      box-shadow: 0px 0px 6px #B9D310;
}
