/*
.tray {
  background-color: red !important; 
  padding-bottom: 10px;
}
.templates-tray { background-color: blue !important; }
.theminator { background-color: green !important; }
.theminator { margin-bottom: 10px !important; }
*/

/* TRAY:
 * <div class="tray">
 *   <div class="tray-contents"></div>
 *   <div class="expand-tray"></div>
 * </div>
 */

.tag-details-list li {
  float: left;
}

.tray {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width:337px;
  /*left:-300px;*/
}

.tray-contents {
  border-right: 1px solid black;
  width: 300px;
  background-color: white;
  height: 100%;
}

.expand-tray {
    position:absolute;
    top:25%;
    left:301px;
}

.expand-tray-button {
    cursor: hand;
    cursor: pointer;
}

/* THEMINATOR
 *
 */

.theminator{
    width:300px;
    /*height:700px;*/
    border-left:none;
    height: 100%;
    display: table;
}

.header {
  background-image: url('images/cts-header-theminator.png');
  height: 66px;
  display: table-row;
}

.header-content {
  background-image: url('images/cts-header-theminator.png');
  height: 66px;
  display: table-cell;
}

.search-container {
    padding: 10px;
}

.favorites-icon-container {
    padding: 10px;
    padding-top:12px;
}

.search-query {
    width:75%;
}

.form-search {
    padding-bottom: 0px;
}

.favorites-icon {
    width:auto;
    height:25px;
}

.filter-tray {
    display: table-row;
}

.filter-expand-container {
    border-bottom: solid black 1px;
    padding:0px 10px 5px 10px;
}

.filter-container {
    height:0px;
    padding:0px 10px 0px 10px;
}

.filter-options {
    padding-left:7%;
}

.subheader {
  display: table-row;
}

.top-container {
    display:table-cell;
    text-align: top;
}

.form-search {
    margin-bottom: 0px;
}

.templates-tray {
    text-align:center;
    padding-top:10px;
    /*overflow: auto;*/
    height: 100%;
    display: table-row;
}

.pager-custom {
    display:inline-block;
    font-weight:bold;
    margin: 0px;
    padding: 0px;
    margin-top:10px;
}

.pager-custom > li {
    display:inline;
}

.pager-custom > li.disabled > a {
    color: #999999;
    cursor: default;
}

.pager-custom > li.disabled > a:hover {
    background-color: transparent;
}

.pager-custom > li.active > a {
    background-color: #657208;
    color: #FFFFFF;
    cursor: default;
}

.pager-custom > li.active > a:hover {
    background-color: #657208;
}

.pager-custom > li > a:hover {
    background-color: #B9D310;
}
.pager-custom > li > a {
    color:#000000;
    padding:3px 5px;
    cursor:pointer;
    cursor:hand;
}

.templates-container {
    padding-top:10px;
    overflow-y:auto;
    height: calc(100% - 30px);
    /*height:518px;*/
    display:block;
}

.screenshot-thumbnail {
    position:relative;
    display:table;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
}

.screenshot-options {
    position:absolute;
    left:0;
    top:0;
    text-align:left;
}

.add-to-favorites {
    position:absolute;
    left:89%;
    top:0;
    cursor: hand;
    cursor: pointer;
}

.add-to-favorites > img {
    width:27px;
    height:25px;
}
    

.screenshot {
    width: 100%;;
    height:auto;
}


.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.tint:hover:before, .tint.options-hover:before {
    background: rgba(185, 211, 16, .5)
}

.tint.active:hover:before, .tint.active.options-hover:before, .tint.active:before {
    background: rgba(101, 114, 8, .5)
}

a.filter-expand {
    color:#000000;
    cursor:pointer;
    cursor:hand;
}

.tag-types-list {
    list-style-type: none;
    margin:0px;
}

.tag-types-list > li.active > a {
    background-color: #657208;
    color: #FFFFFF;
    cursor: hand;
    cursor: pointer;
}

.tag-types-list > li.active > a:hover {
    background-color: #657208;
}

.tag-types-list > li > a:hover {
    background-color: #B9D310;
}
.tag-types-list > li > a {
    color:#000000;
    cursor:pointer;
    cursor:hand;
    padding: 2px 3px;
}

.tag-details {
    width:194px;
}

.tag-details-list {
    list-style-type: none;
    display:inline-block;
    margin: 0px;
}

.tag-details-list > li {
    display:inline;
}

.tag-details-list > li label.checkbox {
    padding-left: 0px;
    padding-right:5px;
    display:inline
}

.tag-details-list > li label.checkbox > input[type=checkbox] {
    float:none;
    margin-top: -2px;
    margin-left: 0px;
    margin-right:5px;
}

span.theme-title {
    cursor:default;
    font-size:20px;
    padding-left:5px;
    line-height:25px;
}

a:hover {
    color:#657208;
    text-decoration:none;
}
a {
    color:#B9D310;
}

input[type=text]:focus {
      border-color:#B9D310;
      -moz-box-shadow: 0px 0px 6px #B9D310;
      -webkit-box-shadow: 0px 0px 6px #B9D310;
      box-shadow: 0px 0px 6px #B9D310;
}
