---

---

<html>

    <head>
        
        <script src="http://treesheets.org/cts.js" data-treesheet="{{site.url}}/post.cts"></script>
        <link rel="treesheet" href="{{site.url}}/mockups/{{site.theme}}/{{site.theme}}.cts" />
 
        <title>Theme Preview</title>
        
        <style type="text/cts">
            @html post {{site.url}}/mockups/{{site.theme}}/post.html;
        </style>
        
    </head>
    
    <body>
        
        <div id="page">
            
            <h1 id="site-title"><a href="{{site.url}}">Theme Preview</a></h1>
            <h2 id="site-description">Description of site</h2>

            <div id="nav-main">
                <ul>
                    <li><a href="{{site.url}}">Home</a></li>
                    <li><a href="{{site.url}}about">About</a></li>
                    <li><a href="{{site.url}}#">Parent Page</a>
                        <ul>
                            <li><a href="{{site.url}}#">Sub-page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <a class="site-url">{{site.url}}</a>
      
            <div id="recent-posts">
                {% for post in site.posts limit:5 %}
                <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
                {% endfor %}
            </div>
              
            <div id="archives">
                <a href="/2013/06">June 2013</a>
                <a href="/2013/05">May 2013</a>
                <a href="/2013/04">April 2013</a>
            </div>
              
            <div id="categories">
                {% for cat in site.categories limit:5 %}
                    <a href="{{site.url}}/category/{{cat[0]}}">{{cat[0]}}</a>
                {% endfor %}
            </div>
              
              
            <div id="individual-article">

                <h1 class="entry-title">{{page.title}}</h1>
                <span class="entry-date"><time class="entry-date-inner" date="{{page-date}}">{{page.date | date: "%d %B, %Y" }}</time></span>
                <a class="cat-link" href="{{site.url}}/category/{{page.category}}">{{page.category}}</a>
                <span class="tag-links">
                    {% for tag in page.tags %}
                        <a href="{{site.url}}/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </span>
                <div class="entry-content">{{content}}</div>
                
            </div>

        </div>
    </body>

</html>
