---
title: Page
---
<!DOCTYPE html>
<html>
    <head>
        <script src="http://treesheets.org/cts.js" data-treesheet="{{site.url}}/page.cts"></script>
        <link rel="treesheet" href="{{site.url}}/mockups/{{site.theme}}/{{site.theme}}.cts" />
        <title>Theme Preview</title>
        <style type="text/cts">
            @html default {{site.url}}/mockups/{{site.theme}}/default.html;
            @html mockup {{site.url}}/mockups/{{site.theme}}/page.html;
        </style>
    </head>
    <body>
        <div id="page">
            {% include default.html %}
            <div id="content">
                {{content}}
            </div>
        </div>
    </body>
</html>

