.cts-ui .cts-ui-tray .cts-ui-editor-page {
    border-left:none;
    height: 100%;
    display: table;
    padding: 0px;
    margin: 0;
    width: 95px;
    text-align: center;
}

.cts-ui-editor h3 {
  font-size: 13px;
  font-color: black;
  text-align: center;
  margin-bottom: 3px;
  padding-bottom: 0px;
}

.cts-ui-editor a.cts-editor-button {
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 11px;
  margin-bottom: 10px;
}

.cts-ui-editor a.highlighted {
  color: red;
}

.cts-ui-editor a.cts-editor-button i {
  font-size: 24px;
  display: block;
}


