<h1 id="site-title"><a class="home-link" href="{{site.url}}">Theme Preview</a></h1>
<h2 id="site-description">Description of site</h2>

<div id="nav-main">
    <ul>
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="{{site.url}}/about">About</a></li>
        <li><a href="{{site.url}}/#">Parent Page</a>
            <ul>
                <li><a href="{{site.url}}/#">Sub-page</a></li>
            </ul>
        </li>
    </ul>
</div>

<a class="site-url" href="{{site.url}}"></a>

<div id="recent-posts">
    {% for post in site.posts limit:5 offset:1 %}
    <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
    {% endfor %}
</div>
  
<div id="archives">
    {% assign archives_list = '' %}
    {% assign archives_list_prettified = '' %}
    {% for post in site.posts %}
        {% capture post_date %}{{ post.date | date: "%B %Y" }}{% endcapture %}
        {% unless archives_list_prettified contains post_date %}
    
            {% capture archives_list %}{{archives_list | append: '|' | append:post.date }}{% endcapture %}
            {% capture archives_list_prettified %}{{archives_list_prettified | append: '|' | append: post_date }}{% endcapture %}
        {% endunless %}
    {% endfor %}

    {% assign archives_list_array = archives_list | split: '|'%}
    {% for date_time in archives_list_array limit:5 %}
        <a href='{{site.url}}/archives/{{date_time | date: "%Y"}}/{{date_time | date: "%m"}}'>{{date_time | date: "%B %Y"}}</a>
    {% endfor %}
</div>
  
<div id="categories">
    {% for cat in site.categories limit:5 %}
        <a href="{{site.url}}/category/{{cat[0]}}">{{cat[0]}}</a>
    {% endfor %}
</div>